<a href="https://colab.research.google.com/github/Taciana3090/CienciaDeDados/blob/Taciana3090%2Fmaster/Ci%C3%AAnciadeDados%5B1%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importação das bibliotecas e classes
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [ ]:
# criação de dados com o método np.arange(valor)
dados = np.arange(8)
dados

array([0, 1, 2, 3, 4, 5, 6, 7])

In [ ]:
# Para remodelar uma matriz, usamos a função np.reshape. Esta função dá uma nova forma à matriz sem alterar seus dados.
dados.reshape((4,2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [ ]:
# Agora iremos selecionar e buscar os dados. Para isso iremos criar o índice..
indice = ["linha 1", "linha 2", "linha 3", "linha 4", "linha 5", "linha 6", "linha 7", "linha 8"]
serie = Series(dados, index=indice)
serie

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int64

In [ ]:
# Iremos agora usar o índice para recuperar um valor da série
serie["linha 7"]

6

In [ ]:
# Neste passo iremos ver como selecionar dados de um dataframe. Para isso começaremos com a criação do mesmo.
np.random.seed(25) # gerador de números aleatórios
indice = ["linha 1", "linha 2", "linha 3", "linha 4", "linha 5", "linha 6"]
colunas = ["coluna 1", "coluna 2", "coluna 3", "coluna 4", "coluna 5", "coluna 6"]
df = DataFrame(np.random.rand(36).reshape((6,6)),
               index=indice,
               columns=colunas)
df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
linha 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
linha 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
linha 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
linha 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
linha 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# o loc é um indexador especial
df.loc[["linha 1", "linha 4"], ["coluna 3", "coluna 5"]]
# como resultado temos um novo dataframe com os dados selecionados

         coluna 3  coluna 5
linha 1  0.278839  0.411100
linha 4  0.481343  0.383048

In [ ]:
# agora iremos demonstrar como fatiar dados
serie["linha 3": "linha 7"]

linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
dtype: int64

In [ ]:
# nesta célula iremos demonstrar como filtrar os dados de um dataframe
indice = ["linha 1", "linha 2", "linha 3", "linha 4", "linha 5", "linha 6", "linha 7", "linha 8"]
series_obj = Series(np.arange(8), index=indice) 
filtro = series_obj > 6
series_obj[filtro]

linha 8    7
dtype: int64

In [ ]:
# atualizar valores
series_obj["linha 1", "linha 5", "linha 8"] = 8
series_obj

linha 1    8
linha 2    1
linha 3    2
linha 4    3
linha 5    8
linha 6    5
linha 7    6
linha 8    8
dtype: int64

In [ ]:
# tratamento de valores NA´s
em_branco = np.nan
serie = Series(["linha 1", "linha 2", em_branco, "linha 4", "linha 5", "linha 6", em_branco, "linha 8"])
serie

0    linha 1
1    linha 2
2        NaN
3    linha 4
4    linha 5
5    linha 6
6        NaN
7    linha 8
dtype: object

In [ ]:
serie.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

In [ ]:
# nesta célula iremos preencher os valores NA´S
np.random.seed(25)
df = DataFrame(np.random.rand(36).reshape(6,6))
df.loc[3:5, 0] = em_branco
df.loc[1:4, 5] = em_branco
df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# preenchendo todo os valores NA´S com 0
df_preenchido = df.fillna(0)
df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.000000
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.000000
3  0.000000  0.836375  0.481343  0.516502  0.383048  0.000000
4  0.000000  0.559053  0.034450  0.719930  0.421004  0.000000
5  0.000000  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# preenchendo os valores NA´S com valores diferentes para colunas diferentes por meio de um dicionário
dicio = {0: 0.1, 5: 1.25}
df_preenchido = df.fillna(dicio)
df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  1.250000
2  0.447031  0.585445  0.161985  0.520719  0.326051  1.250000
3  0.100000  0.836375  0.481343  0.516502  0.383048  1.250000
4  0.100000  0.559053  0.034450  0.719930  0.421004  1.250000
5  0.100000  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# contando números NA´S para pensar numa melhor estratégia de manusea-los.
# nesta célula iremos preencher os valores NA´S
np.random.seed(25)
df = DataFrame(np.random.rand(36).reshape(6,6))
df.loc[3:5, 0] = em_branco
df.loc[1:4, 5] = em_branco
df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# nesta célular iremos realizar a soma de todos os valores NA´S no dataframe
df.isnull().sum()

0    3
1    0
2    0
3    0
4    0
5    4
dtype: int64

In [ ]:
# agora iremos remover todos os valores NA´s do dataset - linhas e colunas 
df.dropna()

          0         1         2         3       4         5
0  0.870124  0.582277  0.278839  0.185911  0.4111  0.117376

In [ ]:
# neste passo iremos criar um dicionario com dados duplicados para mais na frente removê-los
dados = {
    'coluna 1': [1, 1, 2, 2, 3, 3, 3],
    'coluna 2': ['a', 'a', 'b', 'b', 'c', 'c', 'c'],
    'coluna 3': [ 'A','A', 'B', 'B', 'C', 'C', 'C']
}
df = DataFrame(dados)
df

   coluna 1 coluna 2 coluna 3
0         1        a        A
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [ ]:
# agora iremos ver os dados duplicados existentes no dataframe

df.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [ ]:
# neste passo iremos apagar os dados duplicados existentes
df.drop_duplicates()

   coluna 1 coluna 2 coluna 3
0         1        a        A
2         2        b        B
4         3        c        C

In [ ]:
df.drop_duplicates(inplace=True)
df

   coluna 1 coluna 2 coluna 3
0         1        a        A
2         2        b        B
4         3        c        C

In [ ]:
dados = {
    'coluna 1': [1, 1, 2, 2, 3, 3, 3],
    'coluna 2': ['a', 'a', 'b', 'b', 'c', 'c', 'c'],
    'coluna 3': [ 'D','A', 'B', 'B', 'C', 'C', 'C']
}
df = DataFrame(dados)
df

   coluna 1 coluna 2 coluna 3
0         1        a        D
1         1        a        A
2         2        b        B
3         2        b        B
4         3        c        C
5         3        c        C
6         3        c        C

In [ ]:
df.drop_duplicates(['coluna 3'])

   coluna 1 coluna 2 coluna 3
0         1        a        D
1         1        a        A
2         2        b        B
4         3        c        C

In [ ]:
# concatenação dos dataframes
# criação dum dataframe aleatório com 6 linhas e 6 colunas
df = DataFrame(np.random.rand(36).reshape(6,6))
df

          0         1         2         3         4         5
0  0.559242  0.745284  0.828346  0.823694  0.077140  0.644862
1  0.309258  0.524254  0.958092  0.883201  0.295432  0.512376
2  0.088702  0.641717  0.132421  0.766486  0.076742  0.331044
3  0.679852  0.509213  0.655146  0.602120  0.719055  0.415219
4  0.396542  0.825139  0.712552  0.097937  0.842154  0.440821
5  0.373989  0.913676  0.547778  0.251937  0.027474  0.206257

In [ ]:
# concatenação dos dataframes
# criação dum dataframe aleatório com 6 linhas e 6 colunas
df2 = DataFrame(np.random.rand(15).reshape(5,3))
df2

          0         1         2
0  0.590885  0.163652  0.836928
1  0.775203  0.169041  0.766994
2  0.335366  0.472398  0.215064
3  0.912094  0.759208  0.676561
4  0.021376  0.660874  0.094440

In [ ]:
# concatenando os dataFrames
pd.concat([df, df2])
# note que o metódo concat por padrão junta os dados dos dois dataFrames considerando os indices das colunas
# ou seja, ele pega as linhas do segundo objeto e coloca embaixo das linhas do primeiro objeto.
# e para todas as colunas que não possue valores ele complementa com NaN..

          0         1         2         3         4         5
0  0.559242  0.745284  0.828346  0.823694  0.077140  0.644862
1  0.309258  0.524254  0.958092  0.883201  0.295432  0.512376
2  0.088702  0.641717  0.132421  0.766486  0.076742  0.331044
3  0.679852  0.509213  0.655146  0.602120  0.719055  0.415219
4  0.396542  0.825139  0.712552  0.097937  0.842154  0.440821
5  0.373989  0.913676  0.547778  0.251937  0.027474  0.206257
0  0.590885  0.163652  0.836928       NaN       NaN       NaN
1  0.775203  0.169041  0.766994       NaN       NaN       NaN
2  0.335366  0.472398  0.215064       NaN       NaN       NaN
3  0.912094  0.759208  0.676561       NaN       NaN       NaN
4  0.021376  0.660874  0.094440       NaN       NaN       NaN

In [ ]:
pd.concat([df, df2], axis=1)
# no lugar de considerar os índices das colunas como visto acima, neste metódo 
# é considerado os índices das linhas.

,0,1,2,3,4,5,0,1,2
0,0.559242,0.745284,0.828346,0.823694,0.077140,0.644862,0.590885,0.163652,0.836928
1,0.309258,0.524254,0.958092,0.883201,0.295432,0.512376,0.775203,0.169041,0.766994
2,0.088702,0.641717,0.132421,0.766486,0.076742,0.331044,0.335366,0.472398,0.215064
3,0.679852,0.509213,0.655146,0.602120,0.719055,0.415219,0.912094,0.759208,0.676561
4,0.396542,0.825139,0.712552,0.097937,0.842154,0.440821,0.021376,0.660874,0.094440
5,0.373989,0.913676,0.547778,0.251937,0.027474,0.206257,NaN,NaN,NaN

In [ ]:
# agora iremos ver a transformação dos dados..
# para um formato onde torna-se mais fácil a análise.
# - removendo dados: elimando variáveis ou observações;
# - adicionando dados: acrescentando variáveis ou observações;
# - ordenando dados

import pandas as pd
import numpy as np

df = DataFrame(np.random.rand(36).reshape(6,6))
df

          0         1         2         3         4         5
0  0.831163  0.112749  0.566830  0.174626  0.790607  0.033683
1  0.795971  0.689437  0.491846  0.088554  0.937550  0.084362
2  0.469394  0.805613  0.085646  0.244380  0.892806  0.478611
3  0.190401  0.253044  0.762339  0.958540  0.762318  0.320007
4  0.791581  0.489521  0.296351  0.601961  0.221951  0.386073
5  0.006598  0.358175  0.196714  0.409622  0.109562  0.085703

In [ ]:
# - removendo dados: elimando variáveis ou observações;
df.drop([0,2])
# deste modo foram removidas as linhas 0 e 2

          0         1         2         3         4         5
1  0.795971  0.689437  0.491846  0.088554  0.937550  0.084362
3  0.190401  0.253044  0.762339  0.958540  0.762318  0.320007
4  0.791581  0.489521  0.296351  0.601961  0.221951  0.386073
5  0.006598  0.358175  0.196714  0.409622  0.109562  0.085703

In [ ]:
# - removendo dados: elimando variáveis ou observações;
df.drop([1,2], axis=1)
# deste modo foram removidas as colunas 1 e 2

          0         3         4         5
0  0.831163  0.174626  0.790607  0.033683
1  0.795971  0.088554  0.937550  0.084362
2  0.469394  0.244380  0.892806  0.478611
3  0.190401  0.958540  0.762318  0.320007
4  0.791581  0.601961  0.221951  0.386073
5  0.006598  0.409622  0.109562  0.085703

In [ ]:
# - adicionando dados: acrescentando variáveis ou observações;
serie = pd.Series(np.arange(6))
serie.name = "nova_variavel"
serie

0    0
1    1
2    2
3    3
4    4
5    5
Name: nova_variavel, dtype: int64

In [ ]:
# união dos dois dataframes
novo_df = pd.DataFrame.join(df, serie)
novo_df

          0         1         2         3         4         5  nova_variavel
0  0.831163  0.112749  0.566830  0.174626  0.790607  0.033683              0
1  0.795971  0.689437  0.491846  0.088554  0.937550  0.084362              1
2  0.469394  0.805613  0.085646  0.244380  0.892806  0.478611              2
3  0.190401  0.253044  0.762339  0.958540  0.762318  0.320007              3
4  0.791581  0.489521  0.296351  0.601961  0.221951  0.386073              4
5  0.006598  0.358175  0.196714  0.409622  0.109562  0.085703              5

In [ ]:
# - ordenando dados
df_ordenado = novo_df.sort_values(by=["nova_variavel"], ascending=[False])
df_ordenado
# foi ordenado pela coluna "nova_variavel" de maneira descrecente

          0         1         2         3         4         5  nova_variavel
5  0.006598  0.358175  0.196714  0.409622  0.109562  0.085703              5
4  0.791581  0.489521  0.296351  0.601961  0.221951  0.386073              4
3  0.190401  0.253044  0.762339  0.958540  0.762318  0.320007              3
2  0.469394  0.805613  0.085646  0.244380  0.892806  0.478611              2
1  0.795971  0.689437  0.491846  0.088554  0.937550  0.084362              1
0  0.831163  0.112749  0.566830  0.174626  0.790607  0.033683              0

In [ ]:
# agrupamento e agregações
# - para comparar subconjuntos;
# - para dedudiz razões por que os subgrupos diferem;
# - para fatiar seus dados para análise
caminho = '/content/mtcars.csv'

carros = pd.read_csv(caminho)
carros.head()

# renomeação das colunas
carros.columns = ['nomes', 'npg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
carros.head()

NameError: ignored

In [ ]:
# renomeação das colunas
carros.columns = ['nomes', 'npg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
carros.head()

,nomes,npg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# agrupamento de dados por uma coluna
coluna_agrupamento = carros['cyl']
grupos_carros = carros.groupby(coluna_agrupamento)
grupos_carros.mean()
# média por cyl = cilindros

,npg,disp,hp,drat,wt,qsec,vs,am,gear,carb
cyl,,,,,,,,,,
4,26.663636,105.136364,82.636364,4.070909,2.285727,19.137273,0.909091,0.727273,4.090909,1.545455
6,19.742857,183.314286,122.285714,3.585714,3.117143,17.977143,0.571429,0.428571,3.857143,3.428571
8,15.100000,353.100000,209.214286,3.229286,3.999214,16.772143,0.000000,0.142857,3.285714,3.500000